*
  box-sizing border-box
  margin 0
  padding 0


body, html
  display block
  width 100%
  height 100%


ul, li
  list-style none

a
  text-decoration none
  color black
  cursor pointer

.content
  height 100%
  width 100%


$mobile_size = 768px
